
<div class="overflow-x-auto">
	<table class="w-full border-separate border-spacing-y-3 ">

		<thead>
			<tr>
				<th class="th-table w-5/10">
					Outillage
				</th>
				{% if currentPath == '/tools'%}
					<th class="th-table w-3/10">
						Date de fin de validité
					</th>
				{% endif %}
				<th class="th-table w-2/10">
					Nom
				</th>
				<th class="th-table w-2/10">
					Prénom
				</th>
				<th class="th-table w-1/10">
					Aéronef
				</th>
			</tr>
		</thead>

		<tbody>

			{% for tool in tools %}
				<tr>
					<td class="px-6 py-3 font-light text-gray-800 bg-zinc-200 rounded-l-lg">
						{{tool.name}}
					</td>
					<td class="td-table">
						{{tool.user.lastName}}
					</td>
					<td class="td-table">
						{{tool.user.firstName}}
					</td>
					<td class="td-table rounded-r-lg">
						FMEAE
					</td>
				</tr>
			{% endfor %}

		</tbody>

	</table>
</div>

