{% extends "layouts/base.twig" %}

{% block main %}
<section class="min-h-screen flex">
	<div class="bg-gray-100 shrink-0 flex sm:grow-0 sm:w-[500px] flex-col justify-center py-12 px-16">
		<div class="mb-20">
			<h2 class="text-3xl font-extrabold text-gray-900 mb-6">
					Changer le mot de passe
			</h2>

			<form class="space-y-6 mb-4" action="/changePassword" method="POST">

				<div>
					<label for="password" class="label-form">Mot de passe</label>
					<input type="password" id="password" name="password" placeholder="Mot de passe" class="input-form"/>
					{% if errors and errors.password %}
						<p class="error-form">{{ errors.password }}</p>
					{% endif %}
					{% if errorPassword %}
						<p class="error-form">{{ errorPassword }}</p>
					{% endif %}
				</div>

					<div>
						<label for="confirmPassword" class="label-form">Répétez votre mot de passe</label>
						<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Répétez votre mot de passe" class="input-form"/>
						{% if confirmError %}
							<p class="error-form">{{ confirmError }}</p>
						{% endif %}
					</div>

				<button class="w-full baseButton">
						Valider
				</button>
			</form>
		</div>
	</div>

	<div class="hidden sm:block grow">
		<img src="/assets/images/home-nh-90.jpg" alt="" class="h-full w-full object-cover"/>
	</div>
</section>
{% endblock %}
